Daikin Altherma Nodered Smart Grid
[{"id":"afaccb4ff5178a6b","type":"subflow","name":"msg-Debug","info":"","category":"","in":[{"x":160,"y":120,"wires":[{"id":"6abcbc9f7b3e4ea3"}]}],"out":[{"x":420,"y":120,"wires":[{"id":"6abcbc9f7b3e4ea3","port":0}]}],"env":[{"name":"Topic","type":"str","value":"Debug"}],"meta":{},"color":"#87A980","icon":"node-red/debug.svg"},{"id":"6abcbc9f7b3e4ea3","type":"function","z":"afaccb4ff5178a6b","name":"Log","func":"var debug= msg.debug;\n\nvar logName = env.get(\"Topic\");\n\nlog(logName, msg);\n\nreturn msg;\n\n\nfunction log(titolo, msg) {\n    if (debug) node.warn({ operazione: titolo, dettagli: msg });\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":120,"wires":[[]]},{"id":"9c562f2b3a9a2c23","type":"tab","label":"Daikin Smart Grid Software","disabled":false,"info":"","env":[]},{"id":"5c420fc810eea7ef","type":"group","z":"9c562f2b3a9a2c23","name":"Cold ACS Tank on early Morning","style":{"label":true,"label-position":"n","fill":"#ff3f3f","fill-opacity":"0.3","color":"#ff0000"},"nodes":["7a638d556c52d1c1","f43f9f32d54b3d42","8e8ab3411716f1bd","0f430f631579f05b","76e3bf8d90dcef78","b174a026351db1a6","0688ea7b0e78eec0","501031ce043e9113","310bd9a4fd31453a","fa9e7c2492bc193d","ec66598bca898276"],"x":14,"y":559,"w":1332,"h":242},{"id":"fba517180756d7a4","type":"group","z":"9c562f2b3a9a2c23","name":"Altherma Smart Grid MAxPV Self Consumpion","style":{"stroke":"#ff0000","fill":"#ffcf3f","fill-opacity":"0.3","label":true,"label-position":"n","color":"#001f60"},"nodes":["c2f02b1eb0af01e3","0a7d5f5c00d45af6","b16a3cafdfb499ed","e1a29ca115ec828a","3c7c4af34a4f43f3","0a8ef3db590fe3df","d07600022a600ccc","bc93685ded530e52","2df9c1cd0f2af4d1","4ba6bab195e46874","de7b16be438dcdeb","17d1ec68e3d1dfbf","f41de8fca61fe18d","cc8bca48f9f6b809","7e983e7fb58e0ba4","c0b7be784ecd155f","262452c2b1e8a789","ad05b76cc506954c","a9057914023b61f8","d911756df90fe6ef","71f799155ca8dcbe","8d8241cbf7722826","29c27e7d02e04501","a70e4677051cc6c9"],"x":14,"y":19,"w":1332,"h":522},{"id":"c2f02b1eb0af01e3","type":"server-state-changed","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Huawei Luna > 85%","server":"1c37c350.3f926d","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.battery_state_of_capacity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"85","halt_if_type":"num","halt_if_compare":"gte","outputs":2,"output_only_on_state_change":false,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":120,"wires":[["262452c2b1e8a789"],[]]},{"id":"0a7d5f5c00d45af6","type":"api-current-state","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Green PW avail > 1500","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"1500","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.renewable_power_available","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":120,"wires":[["b16a3cafdfb499ed"],["71f799155ca8dcbe"]]},{"id":"b16a3cafdfb499ed","type":"api-current-state","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"kWh Forecast Solar >1h","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"1.5","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.energy_next_hour","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":710,"y":200,"wires":[["e1a29ca115ec828a"],["71f799155ca8dcbe"]]},{"id":"e1a29ca115ec828a","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Switch ON Altherma","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"climate","service":"turn_on","areaId":["terzo_piano"],"deviceId":["d497b003466231db3d824f3a62c8ddac"],"entityId":["climate.altherma"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":140,"wires":[["3c7c4af34a4f43f3","c0b7be784ecd155f"]]},{"id":"3c7c4af34a4f43f3","type":"delay","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":220,"wires":[["0a8ef3db590fe3df"]]},{"id":"0a8ef3db590fe3df","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Set Temp to 26","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"climate","service":"set_temperature","areaId":["terzo_piano"],"deviceId":["d497b003466231db3d824f3a62c8ddac"],"entityId":["climate.altherma"],"data":"{\"temperature\":26,\"hvac_mode\":\"heat\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":180,"y":300,"wires":[["d07600022a600ccc"]]},{"id":"d07600022a600ccc","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Telegram MSG","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Daikin smart Grid Attivato!\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":220,"wires":[["bc93685ded530e52"]]},{"id":"bc93685ded530e52","type":"ha-wait-until","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Wait until < green energy","server":"1c37c350.3f926d","version":2,"outputs":2,"entityId":"sensor.renewable_power_available","entityIdFilterType":"exact","property":"state","comparator":"lte","value":"$number($entities(\"sensor.shelly_em_2_channel_1_power\").state)","valueType":"jsonata","timeout":"3","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":530,"y":300,"wires":[["2df9c1cd0f2af4d1"],["de7b16be438dcdeb"]]},{"id":"2df9c1cd0f2af4d1","type":"delay","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":380,"wires":[["4ba6bab195e46874"]]},{"id":"4ba6bab195e46874","type":"ha-wait-until","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Wait until < green energy","server":"1c37c350.3f926d","version":2,"outputs":2,"entityId":"sensor.renewable_power_available","entityIdFilterType":"exact","property":"state","comparator":"lt","value":"$number($entities(\"sensor.shelly_em_2_channel_1_power\").state)","valueType":"jsonata","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":270,"y":440,"wires":[["de7b16be438dcdeb"],["bc93685ded530e52"]]},{"id":"de7b16be438dcdeb","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Set Temp to 23","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"climate","service":"set_temperature","areaId":["terzo_piano"],"deviceId":["d497b003466231db3d824f3a62c8ddac"],"entityId":["climate.altherma"],"data":"{\"temperature\":23}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":440,"wires":[["17d1ec68e3d1dfbf"]]},{"id":"17d1ec68e3d1dfbf","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Turn OFF Altherma","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"climate","service":"turn_off","areaId":["terzo_piano"],"deviceId":["d497b003466231db3d824f3a62c8ddac"],"entityId":["climate.altherma"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":190,"y":500,"wires":[["f41de8fca61fe18d"]]},{"id":"f41de8fca61fe18d","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Telegram MSG OFF","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"OFF Daikin smart Grid!\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":500,"wires":[["cc8bca48f9f6b809"]]},{"id":"cc8bca48f9f6b809","type":"delay","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Delay 30min","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":730,"y":500,"wires":[["71f799155ca8dcbe"]]},{"id":"7e983e7fb58e0ba4","type":"chronos-switch","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Sunrise-Sunset?","config":"7a02c35ff2a37b2b","baseTime":"","baseTimeType":"msgIngress","conditions":[{"operator":"between","label":"between Sunrise (start) and Sunset (end)","operands":[{"type":"sun","value":"sunrise","offset":0,"random":false},{"type":"sun","value":"sunset","offset":-60,"random":false}]},{"operator":"between","label":"between Sunset (end) and Sunrise (start)","operands":[{"type":"sun","value":"sunset","offset":-59,"random":false},{"type":"sun","value":"sunrise","offset":0,"random":false}]}],"stopOnFirstMatch":false,"outputs":2,"x":670,"y":120,"wires":[["0a7d5f5c00d45af6"],["71f799155ca8dcbe"]]},{"id":"c0b7be784ecd155f","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Turn On all Fancoils","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["group.tutti_i_fancoils"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":220,"wires":[[]]},{"id":"262452c2b1e8a789","type":"function","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"close after","func":"return [[msg,{payload:'close',topic:'control'}]]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["ad05b76cc506954c"]]},{"id":"ad05b76cc506954c","type":"gate","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Gate","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memoryOnly","x":490,"y":120,"wires":[["7e983e7fb58e0ba4"]]},{"id":"a9057914023b61f8","type":"link in","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Close Gate MaxPV","links":["d911756df90fe6ef"],"x":345,"y":160,"wires":[["ad05b76cc506954c"]]},{"id":"d911756df90fe6ef","type":"link out","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Open Gate MaxPV","mode":"link","links":["a9057914023b61f8"],"x":1185,"y":340,"wires":[]},{"id":"71f799155ca8dcbe","type":"function","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"open gate","func":"return [[msg,{payload:'open',topic:'control'}]]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":340,"wires":[["d911756df90fe6ef","8d8241cbf7722826"]]},{"id":"8d8241cbf7722826","type":"subflow:afaccb4ff5178a6b","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Rebug Re-Open Gate","x":960,"y":440,"wires":[[]]},{"id":"29c27e7d02e04501","type":"inject","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":510,"y":60,"wires":[["262452c2b1e8a789"]]},{"id":"a70e4677051cc6c9","type":"inject","z":"9c562f2b3a9a2c23","g":"fba517180756d7a4","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":850,"y":340,"wires":[["71f799155ca8dcbe"]]},{"id":"7a638d556c52d1c1","type":"trigger-state","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"Altherma Tank Temp <35","server":"1c37c350.3f926d","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.altherma_tank_temperature","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"str","comparatorValue":"35"}],"inputs":0,"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"num","enableInput":false,"x":150,"y":640,"wires":[["f43f9f32d54b3d42"],[]]},{"id":"f43f9f32d54b3d42","type":"time-range-switch","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"05.00-06.00","lat":"38.962431","lon":"16.287533","startTime":"05:00","endTime":"06:00","startOffset":0,"endOffset":0,"x":250,"y":720,"wires":[["310bd9a4fd31453a"],[]]},{"id":"8e8ab3411716f1bd","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"Switch ON ACS TANK","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.altherma_acqua_calda_tank"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":600,"wires":[["0f430f631579f05b"]]},{"id":"0f430f631579f05b","type":"ha-wait-until","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"tank > 45°","server":"1c37c350.3f926d","version":2,"outputs":2,"entityId":"sensor.altherma_tank_temperature","entityIdFilterType":"exact","property":"state","comparator":"gte","value":"45","valueType":"num","timeout":"1","timeoutType":"num","timeoutUnits":"hours","checkCurrentState":true,"blockInputOverrides":true,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":590,"y":720,"wires":[["76e3bf8d90dcef78"],["76e3bf8d90dcef78"]]},{"id":"76e3bf8d90dcef78","type":"api-call-service","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"Switch OFF ACS TANK","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.altherma_acqua_calda_tank"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":720,"wires":[["b174a026351db1a6"]]},{"id":"b174a026351db1a6","type":"delay","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"Delay 30min","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1190,"y":620,"wires":[["0688ea7b0e78eec0"]]},{"id":"0688ea7b0e78eec0","type":"function","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"open gate","func":"return [[msg,{payload:'open',topic:'control'}]]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1180,"y":760,"wires":[["501031ce043e9113"]]},{"id":"501031ce043e9113","type":"link out","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"Open Gate TANK night Heat","mode":"link","links":["fa9e7c2492bc193d"],"x":1305,"y":760,"wires":[]},{"id":"310bd9a4fd31453a","type":"function","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"close after","func":"return [[msg,{payload:'close',topic:'control'}]]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":600,"wires":[["ec66598bca898276"]]},{"id":"fa9e7c2492bc193d","type":"link in","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"Close Gate TANK night Heat","links":["501031ce043e9113"],"x":425,"y":660,"wires":[["ec66598bca898276"]]},{"id":"ec66598bca898276","type":"gate","z":"9c562f2b3a9a2c23","g":"5c420fc810eea7ef","name":"Gate","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memoryOnly","x":610,"y":620,"wires":[["8e8ab3411716f1bd"]]},{"id":"1c37c350.3f926d","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"id","deviceSelector":"id","entitySelector":"id","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"7a02c35ff2a37b2b","type":"chronos-config","name":"Casa","timezone":"","sunPositions":[]}]
