Tesla Dashboard/Nodered_flows.json
[{"id":"cda4cbac66948c9c","type":"tab","label":"Tesla","disabled":false,"info":"","env":[]},{"id":"0495360d9f664f8b","type":"group","z":"cda4cbac66948c9c","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["989d54c14f880c99","89eef41da0b79372"],"x":2354,"y":1399,"w":262,"h":82},{"id":"982e7154409c892f","type":"group","z":"cda4cbac66948c9c","name":"Tesla F3 night charge 40%","style":{"stroke":"#0070c0","fill":"#bfdbef","fill-opacity":"0.56","label":true,"label-position":"n","color":"#6f2fa0"},"nodes":["64c5af0303f388d2","09bda801f6713c02","3429294ae4af44a7","69302a2ebaae607e","01393c7efc1f2be3","1983204d4c08c67e","1a9e05cfb857a105","3a509001102ff3b9","58ad09a66a73b774","7584b7afc5be8260","e1a5b547840c99e2","7f244f172b02c2f3","9aa653ba9ef8051f","3e819fb7c36b480e","872b9a09a72caa55","ee6a232807e031ba","457529770af2caac","a5fe36f0231a01a8","94e7aba2ea124d38","48a9e765b5716da3","3c2de04705e6f0b0","128918ee85d1f071","126f46ab07797e9c","920e43aa51edcabe","f09579c4f193d94a","90b44524ca9b277c","3b003df92289f15b","a5b226a4c4c15484"],"x":8,"y":3933,"w":1218,"h":828},{"id":"94e7aba2ea124d38","type":"group","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Tesla Switch Trigger","style":{"stroke":"#ffff00","fill":"#ffefbf","fill-opacity":"0.47","label":true,"color":"#ff0000","label-position":"n"},"nodes":["60a50c1ab57bc448","7e7720d234c385a4"],"x":34,"y":3959,"w":272,"h":142},{"id":"d4fa434ed53dfa64","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta DLM","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Come Vuoi Gestire la Ricarica dell'Auto?","answers":["Automatica con 100% PV a Tesla","Automatica con 50% PV a Tesla","Manuale imposta valore di ricarica in watt","Ricarica nottura fino al 40% (dopo le 23)","Ricarica nottura fino al 50% (dopo le 23)","Ricarica nottura fino al 100% (dopo le 23)"],"outputs":7,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"2","timeoutUnits":"min","parseMode":"","x":650,"y":780,"wires":[["8a947ab0f9c6cc1b"],["6f10030c4b108c5e"],["8db48e70e9949d4b"],["103abf8267ef34dd"],["8502804154d28038"],["808be1bb64647ecc"],["8a947ab0f9c6cc1b"]]},{"id":"7725f19802142a07","type":"trigger-state","z":"cda4cbac66948c9c","name":"Tesla Charge ON","server":"1c37c350.3f926d","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.charger","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":100,"y":60,"wires":[["5f12596d9c6e352e"],[]]},{"id":"22dc7b1664a7da58","type":"api-call-service","z":"cda4cbac66948c9c","name":"Auto","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione automatica della Ricarica con 100% PV a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":40,"wires":[["1f84fcfc79acc87e","5709dbb990e1b201"]]},{"id":"1f84fcfc79acc87e","type":"function","z":"cda4cbac66948c9c","name":"","func":"var power1 = global.get('homeassistant.homeAssistant.states[\"sensor.input_power\"].state');\nvar power2 = global.get('homeassistant.homeAssistant.states[\"sensor.wallbox_em_channel_1_power\"].state');\nvar power3 = global.get('homeassistant.homeAssistant.states[\"sensor.active_power\"].state');\nvar power4 = global.get('homeassistant.homeAssistant.states[\"sensor.pv_to_grid_kwp\"].state');\n\nlet w1 = parseFloat(power1);\nlet w2 = parseFloat(power2);\nlet w3 = parseFloat(power3);\nlet w4 = parseFloat(power4);\n\nmsg.payload = w1 - w3 + w4 + w2 - 300;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["1dfa78e36e48e542","410ab08425cbf79b"]]},{"id":"1dfa78e36e48e542","type":"switch","z":"cda4cbac66948c9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"230","vt":"str"},{"t":"btwn","v":"230","vt":"num","v2":"460","v2t":"num"},{"t":"btwn","v":"461","vt":"num","v2":"691","v2t":"num"},{"t":"btwn","v":"692","vt":"num","v2":"922","v2t":"num"},{"t":"btwn","v":"923","vt":"num","v2":"1153","v2t":"num"},{"t":"btwn","v":"1154","vt":"num","v2":"1384","v2t":"num"},{"t":"btwn","v":"1385","vt":"num","v2":"1615","v2t":"num"},{"t":"btwn","v":"1616","vt":"num","v2":"1846","v2t":"num"},{"t":"btwn","v":"1847","vt":"num","v2":"2077","v2t":"num"},{"t":"btwn","v":"2078","vt":"num","v2":"2308","v2t":"num"},{"t":"btwn","v":"2309","vt":"num","v2":"2539","v2t":"num"},{"t":"btwn","v":"2540","vt":"num","v2":"2770","v2t":"num"},{"t":"btwn","v":"2771","vt":"num","v2":"3001","v2t":"num"},{"t":"btwn","v":"3002","vt":"num","v2":"3232","v2t":"num"},{"t":"btwn","v":"3233","vt":"num","v2":"3463","v2t":"num"},{"t":"btwn","v":"3464","vt":"num","v2":"3694","v2t":"num"},{"t":"btwn","v":"3695","vt":"num","v2":"3925","v2t":"num"},{"t":"btwn","v":"3926","vt":"num","v2":"4156","v2t":"num"},{"t":"btwn","v":"4157","vt":"num","v2":"4387","v2t":"num"},{"t":"btwn","v":"4388","vt":"num","v2":"4618","v2t":"num"},{"t":"btwn","v":"4619","vt":"num","v2":"4849","v2t":"num"},{"t":"gte","v":"4850","vt":"num"}],"checkall":"false","repair":false,"outputs":22,"x":890,"y":260,"wires":[["b2c231128d26b2e1"],["7cec61285af7710c"],["a2022d91a8c24697"],["1ef1e04dba22a52b"],["25111e7925ed9ecc"],["b3f8c5d56d5d6b1c"],["e3fcf7f32ec8cb77"],["6e85ac0f1223a91f"],["5603f6d63da3317c"],["7c23d0da8b04505e"],["778a6599898376f1"],["fea9b4b36d73a950"],["77fbc0857669572d"],["7a5fc827c4cbdfcd"],["43c10d26bb957df3"],["1f90d56ebcd06f3c"],["9545f5a05c5554bb"],["122bd183a1b3b6b8"],["f518695425da67e4"],["9f3adf1edfa017dd"],["9f3adf1edfa017dd"],["9f3adf1edfa017dd"]]},{"id":"b2c231128d26b2e1","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":120,"wires":[["09d0a58c1fa54ce0"]]},{"id":"7cec61285af7710c","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":2}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":160,"wires":[["09d0a58c1fa54ce0"]]},{"id":"a2022d91a8c24697","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":3}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":200,"wires":[["09d0a58c1fa54ce0"]]},{"id":"25111e7925ed9ecc","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":280,"wires":[["09d0a58c1fa54ce0"]]},{"id":"1ef1e04dba22a52b","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":4}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":240,"wires":[["09d0a58c1fa54ce0"]]},{"id":"b3f8c5d56d5d6b1c","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":6}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":320,"wires":[["09d0a58c1fa54ce0"]]},{"id":"e3fcf7f32ec8cb77","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":7}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":360,"wires":[["09d0a58c1fa54ce0"]]},{"id":"6e85ac0f1223a91f","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":8}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":400,"wires":[["09d0a58c1fa54ce0"]]},{"id":"fea9b4b36d73a950","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":12}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":560,"wires":[["09d0a58c1fa54ce0"]]},{"id":"77fbc0857669572d","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":13}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":600,"wires":[["09d0a58c1fa54ce0"]]},{"id":"778a6599898376f1","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":11}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":520,"wires":[["09d0a58c1fa54ce0"]]},{"id":"7c23d0da8b04505e","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":10}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":480,"wires":[["09d0a58c1fa54ce0"]]},{"id":"5603f6d63da3317c","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":9}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":440,"wires":[["09d0a58c1fa54ce0"]]},{"id":"7a5fc827c4cbdfcd","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":14}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":640,"wires":[["09d0a58c1fa54ce0"]]},{"id":"43c10d26bb957df3","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":680,"wires":[["09d0a58c1fa54ce0"]]},{"id":"9545f5a05c5554bb","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":17}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":760,"wires":[["09d0a58c1fa54ce0"]]},{"id":"1f90d56ebcd06f3c","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":16}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":720,"wires":[["09d0a58c1fa54ce0"]]},{"id":"122bd183a1b3b6b8","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":18}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":800,"wires":[["09d0a58c1fa54ce0"]]},{"id":"f76787dc7f3e551f","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":21}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":920,"wires":[["09d0a58c1fa54ce0"]]},{"id":"9f3adf1edfa017dd","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":20}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":880,"wires":[["09d0a58c1fa54ce0"]]},{"id":"f518695425da67e4","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":19}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":840,"wires":[["09d0a58c1fa54ce0"]]},{"id":"16927fc2ad18f84d","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":22}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":960,"wires":[["09d0a58c1fa54ce0"]]},{"id":"410ab08425cbf79b","type":"ha-sensor","z":"cda4cbac66948c9c","name":"PV avaible for Tesla","entityConfig":"ede6040ad88b4bc3","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":480,"wires":[[]]},{"id":"09d0a58c1fa54ce0","type":"ha-wait-until","z":"cda4cbac66948c9c","name":"waith power is 1","server":"1c37c350.3f926d","version":2,"outputs":2,"entityId":"sensor.pwleft_for_tesla","entityIdFilterType":"exact","property":"state","comparator":"is","value":"1","valueType":"num","timeout":"1","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":false,"blockInputOverrides":false,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1460,"y":480,"wires":[["77a18864989d7823"],["77a18864989d7823"]]},{"id":"77a18864989d7823","type":"api-current-state","z":"cda4cbac66948c9c","name":"check 1 again","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"1","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pwleft_for_tesla","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"60","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1500,"y":360,"wires":[["a385dcc1806a30a3"],["53c346490c537f93"]]},{"id":"53c346490c537f93","type":"delay","z":"cda4cbac66948c9c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1800,"y":500,"wires":[["77a18864989d7823"]]},{"id":"04a35f51460f31f9","type":"time-range-switch","z":"cda4cbac66948c9c","name":"Set Sun","lat":"38.953554","lon":"16.285832","startTime":"sunrise","endTime":"sunset","startOffset":"0","endOffset":"-30","x":1360,"y":80,"wires":[["1f84fcfc79acc87e","5709dbb990e1b201"],["ab2a5f0ad8d41a83"]]},{"id":"8cfa908163bb902b","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off on Sunset!","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1980,"y":200,"wires":[["bca3780193b5c1b3"]]},{"id":"96e908d56d2d7f6a","type":"api-current-state","z":"cda4cbac66948c9c","name":"if on Charger","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.charger","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1450,"y":180,"wires":[["04a35f51460f31f9"],["a4c1018a84445955"]]},{"id":"8a947ab0f9c6cc1b","type":"api-call-service","z":"cda4cbac66948c9c","name":"On DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":80,"wires":[["22dc7b1664a7da58"]]},{"id":"1662c9f1eb796f6d","type":"api-current-state","z":"cda4cbac66948c9c","name":"if on DLM Switch","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pv_dlm_button","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1490,"y":260,"wires":[["96e908d56d2d7f6a"],["601c54e86a00ccfc"]]},{"id":"bca3780193b5c1b3","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2000,"y":280,"wires":[["a4c1018a84445955"]]},{"id":"48c5dd0d1da99315","type":"cronplus","z":"cda4cbac66948c9c","name":"Pool on Sunrise","outputField":"payload","timeZone":"","persistDynamic":false,"storeName":"","commandResponseMsgOutput":"output1","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"solar","expression":"0 30 20 * * *","location":"38.95349692898102 16.28588925115764","offset":"15","solarType":"selected","solarEvents":"sunrise"}],"x":120,"y":480,"wires":[["8e764f86a3b8e328"]]},{"id":"8e764f86a3b8e328","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling on","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":480,"wires":[[]]},{"id":"c89cbdf9186dbe41","type":"cronplus","z":"cda4cbac66948c9c","name":"Pool off Sunset","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"cron","expression":"0 15 23 * * *","location":"38.95349692898102 16.28588925115764","offset":"60","solarType":"selected","solarEvents":"sunset"}],"x":120,"y":580,"wires":[["dca700937fda58dd"]]},{"id":"dca700937fda58dd","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling off","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":310,"y":580,"wires":[[]]},{"id":"a385dcc1806a30a3","type":"api-current-state","z":"cda4cbac66948c9c","name":"if tesla batt lev < 100%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1780,"y":360,"wires":[["1662c9f1eb796f6d"],["601c54e86a00ccfc"]]},{"id":"601c54e86a00ccfc","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2020,"y":380,"wires":[["a4c1018a84445955"]]},{"id":"b62335eeb172c85a","type":"api-call-service","z":"cda4cbac66948c9c","name":"Auto","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione automatica della Ricarica con 50% PV a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":750,"y":980,"wires":[["18a43009a45eb1ec","5709dbb990e1b201"]]},{"id":"18a43009a45eb1ec","type":"function","z":"cda4cbac66948c9c","name":"","func":"var power1 = global.get('homeassistant.homeAssistant.states[\"sensor.input_power\"].state');\nvar power2 = global.get('homeassistant.homeAssistant.states[\"sensor.wallbox_em_channel_1_power\"].state');\nvar power3 = global.get('homeassistant.homeAssistant.states[\"sensor.active_power\"].state');\nvar power4 = global.get('homeassistant.homeAssistant.states[\"sensor.pv_to_grid_kwp\"].state');\n\nlet w1 = parseFloat(power1);\nlet w2 = parseFloat(power2);\nlet w3 = parseFloat(power3);\nlet w4 = parseFloat(power4);\n\nmsg.payload = (w1 - w3 + w4 + w2 - 300)/2;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1160,"wires":[["c0129a0d6122afde","b91c5895833cda56"]]},{"id":"c0129a0d6122afde","type":"switch","z":"cda4cbac66948c9c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"230","vt":"str"},{"t":"btwn","v":"230","vt":"num","v2":"460","v2t":"num"},{"t":"btwn","v":"461","vt":"num","v2":"691","v2t":"num"},{"t":"btwn","v":"692","vt":"num","v2":"922","v2t":"num"},{"t":"btwn","v":"923","vt":"num","v2":"1153","v2t":"num"},{"t":"btwn","v":"1154","vt":"num","v2":"1384","v2t":"num"},{"t":"btwn","v":"1385","vt":"num","v2":"1615","v2t":"num"},{"t":"btwn","v":"1616","vt":"num","v2":"1846","v2t":"num"},{"t":"btwn","v":"1847","vt":"num","v2":"2077","v2t":"num"},{"t":"btwn","v":"2078","vt":"num","v2":"2308","v2t":"num"},{"t":"btwn","v":"2309","vt":"num","v2":"2539","v2t":"num"},{"t":"btwn","v":"2540","vt":"num","v2":"2770","v2t":"num"},{"t":"btwn","v":"2771","vt":"num","v2":"3001","v2t":"num"},{"t":"btwn","v":"3002","vt":"num","v2":"3232","v2t":"num"},{"t":"btwn","v":"3233","vt":"num","v2":"3463","v2t":"num"},{"t":"btwn","v":"3464","vt":"num","v2":"3694","v2t":"num"},{"t":"btwn","v":"3695","vt":"num","v2":"3925","v2t":"num"},{"t":"btwn","v":"3926","vt":"num","v2":"4156","v2t":"num"},{"t":"btwn","v":"4157","vt":"num","v2":"4387","v2t":"num"},{"t":"btwn","v":"4388","vt":"num","v2":"4618","v2t":"num"},{"t":"btwn","v":"4619","vt":"num","v2":"4849","v2t":"num"},{"t":"gte","v":"4850","vt":"num"}],"checkall":"false","repair":false,"outputs":22,"x":890,"y":1200,"wires":[["25b68c2632192195"],["227fa6a066e92685"],["60e2b00b0438dbd4"],["21eb0628b15f7cc4"],["c6f73fc917e53ac4"],["84e7bed8c8d75116"],["99b5e947b0627eda"],["9c9dfd686f480f8f"],["0e6423f17a3d9ffd"],["dabd7bbd401faa42"],["59811be0ca2018cf"],["c92085190aaea271"],["d975fba78bc44591"],["f69b87eda1217080"],["895bc17d02378815"],["0d4d26dcc44ce9ea"],["72b8d7944f2fa2af"],["786eb2e2e55e42b3"],["bc78528b4969d8f6"],["f36396de9e39623f"],["f36396de9e39623f"],["f36396de9e39623f"]]},{"id":"25b68c2632192195","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1060,"wires":[["216a181edceacb25"]]},{"id":"227fa6a066e92685","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":2}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1100,"wires":[["216a181edceacb25"]]},{"id":"60e2b00b0438dbd4","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":3}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1140,"wires":[["216a181edceacb25"]]},{"id":"c6f73fc917e53ac4","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":5}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1220,"wires":[["216a181edceacb25"]]},{"id":"21eb0628b15f7cc4","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":4}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1180,"wires":[["216a181edceacb25"]]},{"id":"84e7bed8c8d75116","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":6}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1260,"wires":[["216a181edceacb25"]]},{"id":"99b5e947b0627eda","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":7}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1300,"wires":[["216a181edceacb25"]]},{"id":"9c9dfd686f480f8f","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":8}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1340,"wires":[["216a181edceacb25"]]},{"id":"c92085190aaea271","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":12}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1500,"wires":[["216a181edceacb25"]]},{"id":"d975fba78bc44591","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":13}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1540,"wires":[["216a181edceacb25"]]},{"id":"59811be0ca2018cf","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":11}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1460,"wires":[["216a181edceacb25"]]},{"id":"dabd7bbd401faa42","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":10}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1420,"wires":[["216a181edceacb25"]]},{"id":"0e6423f17a3d9ffd","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":9}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1380,"wires":[["216a181edceacb25"]]},{"id":"f69b87eda1217080","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":14}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1580,"wires":[["216a181edceacb25"]]},{"id":"895bc17d02378815","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1620,"wires":[["216a181edceacb25"]]},{"id":"72b8d7944f2fa2af","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":17}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1700,"wires":[["216a181edceacb25"]]},{"id":"0d4d26dcc44ce9ea","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":16}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1660,"wires":[["216a181edceacb25"]]},{"id":"786eb2e2e55e42b3","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":18}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1740,"wires":[["216a181edceacb25"]]},{"id":"6f6b5b28a7551336","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":21}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1860,"wires":[["216a181edceacb25"]]},{"id":"f36396de9e39623f","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":20}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1820,"wires":[["216a181edceacb25"]]},{"id":"bc78528b4969d8f6","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":19}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1780,"wires":[["216a181edceacb25"]]},{"id":"c073316b535d4943","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":22}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":1900,"wires":[["216a181edceacb25"]]},{"id":"b91c5895833cda56","type":"ha-sensor","z":"cda4cbac66948c9c","name":"PV avaible for Tesla 50%","entityConfig":"cb70dfadf1e489ef","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":630,"y":1280,"wires":[[]]},{"id":"216a181edceacb25","type":"ha-wait-until","z":"cda4cbac66948c9c","name":"waith power is 1","server":"1c37c350.3f926d","version":2,"outputs":2,"entityId":"sensor.pwleft_for_tesla","entityIdFilterType":"exact","property":"state","comparator":"is","value":"1","valueType":"num","timeout":"1","timeoutType":"num","timeoutUnits":"minutes","checkCurrentState":false,"blockInputOverrides":false,"outputProperties":[],"entityLocation":"data","entityLocationType":"none","x":1460,"y":1420,"wires":[["34feb8fd1eb501b5"],["34feb8fd1eb501b5"]]},{"id":"34feb8fd1eb501b5","type":"api-current-state","z":"cda4cbac66948c9c","name":"check 1 again","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"1","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pwleft_for_tesla","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"60","forType":"num","forUnits":"seconds","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1500,"y":1300,"wires":[["a770d9b447d70d92"],["d5ce14fcfd8e2631"]]},{"id":"d5ce14fcfd8e2631","type":"delay","z":"cda4cbac66948c9c","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1800,"y":1440,"wires":[["34feb8fd1eb501b5"]]},{"id":"fece62560e20bb1c","type":"time-range-switch","z":"cda4cbac66948c9c","name":"Set Sun","lat":"38.953554","lon":"16.285832","startTime":"sunrise","endTime":"sunset","startOffset":"0","endOffset":"-30","x":1360,"y":1020,"wires":[["18a43009a45eb1ec","5709dbb990e1b201"],["3164ec5b16e339e7"]]},{"id":"df8c657d184c24de","type":"api-current-state","z":"cda4cbac66948c9c","name":"if on Charger","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.charger","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1450,"y":1120,"wires":[["fece62560e20bb1c"],["a4c1018a84445955"]]},{"id":"6f10030c4b108c5e","type":"api-call-service","z":"cda4cbac66948c9c","name":"On DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":1000,"wires":[["b62335eeb172c85a"]]},{"id":"d5d5d10539d87e67","type":"api-current-state","z":"cda4cbac66948c9c","name":"if on DLM Switch","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.pv_dlm_button","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1490,"y":1200,"wires":[["df8c657d184c24de"],["a8301bbd764693ed"]]},{"id":"a770d9b447d70d92","type":"api-current-state","z":"cda4cbac66948c9c","name":"if batt lev < 100%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"lt","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1770,"y":1300,"wires":[["2d251802f55980dc"],["a8301bbd764693ed"]]},{"id":"a8301bbd764693ed","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":1360,"wires":[["a4c1018a84445955"]]},{"id":"5612cd1c4275297a","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta Potenza Manuale","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Scegli la potenza di ricarica in Watt:","answers":["0.50kW","1.0kW","1.5kW","2.0kW","2.5kW","3.0kW","3.5kW","4.0kW","5.0kW"],"outputs":9,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"","timeoutUnits":"","parseMode":"","x":750,"y":2080,"wires":[["cbd84a6df00ace8a"],["64f19107faeaeef7"],["0f32e2ef2683ba52"],["1b4341735f827f0c"],["57eda6cf66a21f36"],["4c01c2a35a13cf43"],["c82979d36e9a63be"],["d2a3491e7d06cd31"],["36761618a250f741"]]},{"id":"cbd84a6df00ace8a","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":2}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":1960,"wires":[["7f882097dcc66b47"]]},{"id":"64f19107faeaeef7","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":4}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":2020,"wires":[["7b21bef4d10fe6d1"]]},{"id":"0f32e2ef2683ba52","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":6}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":2080,"wires":[["837f45b62d039424"]]},{"id":"1b4341735f827f0c","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":9}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":2140,"wires":[["d01adbd4b48a18be"]]},{"id":"57eda6cf66a21f36","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":11}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":2200,"wires":[["d6e8cbe3052c0e90"]]},{"id":"4c01c2a35a13cf43","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":13}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":2260,"wires":[["01b2b4e02be62445"]]},{"id":"d2a3491e7d06cd31","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":17}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":2380,"wires":[["1ebb570736c2596f"]]},{"id":"36761618a250f741","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":22}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":2440,"wires":[["dfe5f64ca36ad483"]]},{"id":"25572b78936690ee","type":"chronos-delay","z":"cda4cbac66948c9c","name":"Tramonto","config":"7a02c35ff2a37b2b","delayType":"pointInTime","fixedDuration":"1","fixedDurationUnit":"seconds","randomDuration1":"1","randomDuration2":"5","randomDurationUnit":"seconds","randomizerMillis":false,"whenType":"sun","whenValue":"sunsetStart","offset":"0","random":false,"customDelayType":"jsonata","customDelayValue":"","preserveCtrlProps":false,"ignoreCtrlProps":false,"x":1620,"y":2220,"wires":[["02a040aa90e94faf"]]},{"id":"2d251802f55980dc","type":"api-current-state","z":"cda4cbac66948c9c","name":"Luna2000 charged","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"90","halt_if_type":"num","halt_if_compare":"lte","entity_id":"sensor.battery_state_of_capacity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1710,"y":1240,"wires":[["d5d5d10539d87e67"],[]]},{"id":"7f882097dcc66b47","type":"api-call-service","z":"cda4cbac66948c9c","name":"0,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 0,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":1960,"wires":[["25572b78936690ee"]]},{"id":"7b21bef4d10fe6d1","type":"api-call-service","z":"cda4cbac66948c9c","name":"1,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 1,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2020,"wires":[["25572b78936690ee"]]},{"id":"837f45b62d039424","type":"api-call-service","z":"cda4cbac66948c9c","name":"1,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 1,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2080,"wires":[["25572b78936690ee"]]},{"id":"d01adbd4b48a18be","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2140,"wires":[["25572b78936690ee"]]},{"id":"d6e8cbe3052c0e90","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2200,"wires":[["25572b78936690ee"]]},{"id":"01b2b4e02be62445","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2260,"wires":[["25572b78936690ee"]]},{"id":"1ebb570736c2596f","type":"api-call-service","z":"cda4cbac66948c9c","name":"4,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 4,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2380,"wires":[["25572b78936690ee"]]},{"id":"dfe5f64ca36ad483","type":"api-call-service","z":"cda4cbac66948c9c","name":"5,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 5,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2440,"wires":[["25572b78936690ee"]]},{"id":"ab2a5f0ad8d41a83","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta Sole Tramontato","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Il sole  tramontato vuoi continuare a ricaricare l'auto??","answers":["Si, continua finch l'auto non sar carica al 100% impostando i kW di ricarica ","No, spegni la WallBox."],"outputs":3,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"15","timeoutUnits":"min","parseMode":"","x":1750,"y":120,"wires":[["563cd80778fba260"],["8cfa908163bb902b"],["8cfa908163bb902b"]]},{"id":"2915a8545a05c96c","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off on Sunset!","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2060,"y":1080,"wires":[["978078a57b5bb5b7"]]},{"id":"978078a57b5bb5b7","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2080,"y":1140,"wires":[["a4c1018a84445955"]]},{"id":"3164ec5b16e339e7","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta Sole tramontato","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Il sole  tramontato vuoi continuare a ricaricare l'auto??","answers":["Si, continua finch l'auto non sar carica al 100% impostando i kW di ricarica ","No, spegni la WallBox."],"outputs":3,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"15","timeoutUnits":"min","parseMode":"","x":1820,"y":1000,"wires":[["563cd80778fba260"],["2915a8545a05c96c"],["2915a8545a05c96c"]]},{"id":"517d29d204963c55","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off on Sunset!","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2040,"y":2360,"wires":[["a281d29135f7a4a5"]]},{"id":"a281d29135f7a4a5","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2060,"y":2420,"wires":[["a4c1018a84445955"]]},{"id":"02a040aa90e94faf","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"On Sunset?","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Il sole  tramontato vuoi continuare a ricaricare l'auto??","answers":["Si, continua finch l'auto non sar carica al 100%","Si, continua ma ripeti la domanda tra 1 ora","No, spegni la WallBox."],"outputs":4,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"15","timeoutUnits":"min","parseMode":"","x":1810,"y":2220,"wires":[["c27cfaf991c6df56"],["d1979d1c3ec54f7f"],["517d29d204963c55"],["517d29d204963c55"]]},{"id":"d1979d1c3ec54f7f","type":"delay","z":"cda4cbac66948c9c","name":"Delay 1h","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1820,"y":2400,"wires":[["02a040aa90e94faf"]]},{"id":"5f12596d9c6e352e","type":"api-current-state","z":"cda4cbac66948c9c","name":"Tesla is at Home","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"device_tracker.location_tracker","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":60,"wires":[["cb73ca59b3a076aa"],[]]},{"id":"8502804154d28038","type":"api-call-service","z":"cda4cbac66948c9c","name":"Night crg 50%","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Procedo con ricarica nottura dalle ore 23.00 fino al 50% della batteria\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":340,"y":2720,"wires":[["69305773463002ae"]]},{"id":"69305773463002ae","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling on","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":2480,"wires":[["dbad93840d34076a"]]},{"id":"3fa55218d66db582","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta Potenza Manuale","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Scegli la potenza di ricarica in Watt:","answers":["2.0kW","2.5kW","3.0kW","3.5kW","4.0kW","5.0kW"],"outputs":6,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"","timeoutUnits":"","parseMode":"","x":670,"y":2640,"wires":[["f064a458fa8e6474"],["e029b01c5aca61cf"],["797a4a15d62feb15"],["b2fb96e8a456cd6f"],["06afdbd5465c6e0f"],["def28c6494a38f03"]]},{"id":"f064a458fa8e6474","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":9}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":2600,"wires":[["208d56f805d50150"]]},{"id":"e029b01c5aca61cf","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":11}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":2660,"wires":[["5a0d8a81c5687e74"]]},{"id":"797a4a15d62feb15","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":13}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":2720,"wires":[["c41eb970f5537630"]]},{"id":"06afdbd5465c6e0f","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":17}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":2840,"wires":[["ae1ebc96d979a199"]]},{"id":"def28c6494a38f03","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":22}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":2900,"wires":[["5410e9f08815d3a3"]]},{"id":"5410e9f08815d3a3","type":"api-call-service","z":"cda4cbac66948c9c","name":"5,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 5,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":2900,"wires":[["52ef73f5a5645015"]]},{"id":"ae1ebc96d979a199","type":"api-call-service","z":"cda4cbac66948c9c","name":"4,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 4,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":2840,"wires":[["52ef73f5a5645015"]]},{"id":"c41eb970f5537630","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":2720,"wires":[["52ef73f5a5645015"]]},{"id":"5a0d8a81c5687e74","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":2660,"wires":[["52ef73f5a5645015"]]},{"id":"208d56f805d50150","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":2600,"wires":[["52ef73f5a5645015"]]},{"id":"b2fb96e8a456cd6f","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":2780,"wires":[["3a43b6fb4b4b3a88"]]},{"id":"3a43b6fb4b4b3a88","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":2780,"wires":[["52ef73f5a5645015"]]},{"id":"d2a4f07fab4aea25","type":"api-current-state","z":"cda4cbac66948c9c","name":"if tesla batt lev >= 50%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1900,"y":2800,"wires":[["b691f79ae128532c"],["22532f43a58d8aab"]]},{"id":"b691f79ae128532c","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":2700,"wires":[["87e63c68c83afeb5"]]},{"id":"22532f43a58d8aab","type":"delay","z":"cda4cbac66948c9c","name":"Delay 5 min","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1970,"y":2900,"wires":[["d2a4f07fab4aea25"]]},{"id":"87e63c68c83afeb5","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling off","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2070,"y":2700,"wires":[["a4c1018a84445955"]]},{"id":"0303df8730a369aa","type":"chronos-delay","z":"cda4cbac66948c9c","name":"","config":"7a02c35ff2a37b2b","delayType":"pointInTime","fixedDuration":"1","fixedDurationUnit":"seconds","randomDuration1":"1","randomDuration2":"5","randomDurationUnit":"seconds","randomizerMillis":false,"whenType":"time","whenValue":"23:00","offset":"0","random":false,"customDelayType":"jsonata","customDelayValue":"","preserveCtrlProps":false,"ignoreCtrlProps":false,"x":1510,"y":2860,"wires":[["47bab2611b0e19f5"]]},{"id":"52ef73f5a5645015","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":2720,"wires":[["a0ef6c75e32deb2c"]]},{"id":"47bab2611b0e19f5","type":"api-call-service","z":"cda4cbac66948c9c","name":"ON Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1700,"y":2900,"wires":[["d2a4f07fab4aea25"]]},{"id":"808be1bb64647ecc","type":"api-call-service","z":"cda4cbac66948c9c","name":"Night crg 100%","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Procedo con ricarica nottura dalle ore 23.00 fino al 100% della batteria\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":3000,"wires":[["b02f1d17128f5a92"]]},{"id":"b02f1d17128f5a92","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling on","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":2940,"wires":[["a03ab5f91bc1dff5"]]},{"id":"cc2a44bb2b604195","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta Potenza Manuale","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Scegli la potenza di ricarica in Watt:","answers":["2.0kW","2.5kW","3.0kW","3.5kW","4.0kW","5.0kW"],"outputs":6,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"","timeoutUnits":"","parseMode":"","x":670,"y":3100,"wires":[["4fc84ce379395596"],["dfb8068ef76076ce"],["2fd5af13b14b482c"],["b87eeb5a558a2423"],["9362a56f2cf8784a"],["91080c2ec18d8c91"]]},{"id":"4fc84ce379395596","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":9}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3060,"wires":[["64b1245a9b200a2d"]]},{"id":"dfb8068ef76076ce","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":11}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3120,"wires":[["c21eb5cf19c48ef9"]]},{"id":"2fd5af13b14b482c","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":13}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3180,"wires":[["a1b7cdb076f28aab"]]},{"id":"9362a56f2cf8784a","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":17}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3300,"wires":[["b75bef2fb3eeaf3b"]]},{"id":"91080c2ec18d8c91","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":22}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3360,"wires":[["b78f86856b9c80cc"]]},{"id":"b78f86856b9c80cc","type":"api-call-service","z":"cda4cbac66948c9c","name":"5,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 5,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3360,"wires":[["23532a6407e2e3e0"]]},{"id":"b75bef2fb3eeaf3b","type":"api-call-service","z":"cda4cbac66948c9c","name":"4,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 4,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3300,"wires":[["23532a6407e2e3e0"]]},{"id":"a1b7cdb076f28aab","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3180,"wires":[["23532a6407e2e3e0"]]},{"id":"c21eb5cf19c48ef9","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3120,"wires":[["23532a6407e2e3e0"]]},{"id":"64b1245a9b200a2d","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3060,"wires":[["23532a6407e2e3e0"]]},{"id":"b87eeb5a558a2423","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3240,"wires":[["b51dc2e47699aa10"]]},{"id":"b51dc2e47699aa10","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3240,"wires":[["23532a6407e2e3e0"]]},{"id":"8a3b8e87860a0a9a","type":"api-current-state","z":"cda4cbac66948c9c","name":"if tesla batt lev >=100%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1970,"y":3260,"wires":[["4187e5eb6e694f91"],["c27fdb01565d6a52"]]},{"id":"4187e5eb6e694f91","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":3160,"wires":[["b946ad3a094e34cf"]]},{"id":"99a6a050518511f2","type":"delay","z":"cda4cbac66948c9c","name":"Delay 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1970,"y":3360,"wires":[["8a3b8e87860a0a9a"]]},{"id":"b946ad3a094e34cf","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling off","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2070,"y":3160,"wires":[["a4c1018a84445955"]]},{"id":"23532a6407e2e3e0","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":3200,"wires":[["522d6c27240d1dea"]]},{"id":"237e4b1405584b41","type":"api-call-service","z":"cda4cbac66948c9c","name":"ON Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1700,"y":3260,"wires":[["8a3b8e87860a0a9a"]]},{"id":"c27cfaf991c6df56","type":"api-current-state","z":"cda4cbac66948c9c","name":"if tesla batt lev >=100%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2090,"y":2200,"wires":[["ad103147c009deb1"],["ea381d69ddbaae4a"]]},{"id":"ad103147c009deb1","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2080,"y":2120,"wires":[["a4c1018a84445955"]]},{"id":"206235110b7b449b","type":"delay","z":"cda4cbac66948c9c","name":"Delay 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2270,"y":2280,"wires":[["c27cfaf991c6df56"]]},{"id":"563cd80778fba260","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta Potenza Manuale","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Scegli la potenza di ricarica in Watt:","answers":["2.0kW","2.5kW","3.0kW","3.5kW","4.0kW","5.0kW"],"outputs":6,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"","timeoutUnits":"","parseMode":"","x":2090,"y":620,"wires":[["28a11088034fcf93"],["dffc4196d665f080"],["5ab6879a5e2b5681"],["7bbe67b32c37760a"],["4af7a61c8ef361c5"],["dbfcc704ddc9817a"]]},{"id":"28a11088034fcf93","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":9}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2440,"y":580,"wires":[["3beb6d6c119eb75b"]]},{"id":"dffc4196d665f080","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":11}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2440,"y":640,"wires":[["c63a391fa3742fb6"]]},{"id":"5ab6879a5e2b5681","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":13}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2440,"y":700,"wires":[["e7620c25ba3b5766"]]},{"id":"4af7a61c8ef361c5","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":17}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2440,"y":820,"wires":[["f5877001970784f3"]]},{"id":"dbfcc704ddc9817a","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":22}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2440,"y":880,"wires":[["1237221d4da92864"]]},{"id":"1237221d4da92864","type":"api-call-service","z":"cda4cbac66948c9c","name":"5,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 5,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2650,"y":880,"wires":[["9f3e348a1196f990"]]},{"id":"f5877001970784f3","type":"api-call-service","z":"cda4cbac66948c9c","name":"4,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 4,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2650,"y":820,"wires":[["9f3e348a1196f990"]]},{"id":"e7620c25ba3b5766","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2650,"y":700,"wires":[["9f3e348a1196f990"]]},{"id":"c63a391fa3742fb6","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2650,"y":640,"wires":[["9f3e348a1196f990"]]},{"id":"3beb6d6c119eb75b","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2650,"y":580,"wires":[["9f3e348a1196f990"]]},{"id":"7bbe67b32c37760a","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2440,"y":760,"wires":[["926b2a7533d5ddf5"]]},{"id":"926b2a7533d5ddf5","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2650,"y":760,"wires":[["9f3e348a1196f990"]]},{"id":"9f3e348a1196f990","type":"api-current-state","z":"cda4cbac66948c9c","name":"if tesla batt lev >=100%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2970,"y":700,"wires":[["abd63a6fe7662acd"],["0b61c2a8c22a33e3"]]},{"id":"abd63a6fe7662acd","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3280,"y":680,"wires":[["ac2b997e2db564ba"]]},{"id":"dc7f9a8aeb089291","type":"delay","z":"cda4cbac66948c9c","name":"Delay 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":3390,"y":880,"wires":[["9f3e348a1196f990"]]},{"id":"ac2b997e2db564ba","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling off","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":3490,"y":680,"wires":[["a4c1018a84445955"]]},{"id":"989d54c14f880c99","type":"function","z":"cda4cbac66948c9c","g":"0495360d9f664f8b","name":"open gate","func":"return [[msg,{payload:'open',topic:'control'}]]","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":1440,"wires":[["89eef41da0b79372"]]},{"id":"80d4a0b715a3eb9f","type":"function","z":"cda4cbac66948c9c","name":"close after","func":"return [[msg,{payload:'close',topic:'control'}]]","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":260,"wires":[["b702c8737617fa82"]]},{"id":"b702c8737617fa82","type":"gate","z":"cda4cbac66948c9c","name":"Gate","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","defaultCmd":"default","statusCmd":"status","persist":false,"storeName":"memoryOnly","x":350,"y":320,"wires":[["f287ab75f055e83e"]]},{"id":"5cbdbe426ee0722a","type":"link in","z":"cda4cbac66948c9c","name":"Close Gate Tesla","links":["89eef41da0b79372","71ceb2f124fe727e"],"x":105,"y":280,"wires":[["b702c8737617fa82"]]},{"id":"89eef41da0b79372","type":"link out","z":"cda4cbac66948c9c","g":"0495360d9f664f8b","name":"Open Gate Tesla","mode":"link","links":["5cbdbe426ee0722a"],"x":2575,"y":1440,"wires":[]},{"id":"ea381d69ddbaae4a","type":"api-current-state","z":"cda4cbac66948c9c","name":"if on Charger","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.charger","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2090,"y":2280,"wires":[["206235110b7b449b"],["a4c1018a84445955"]]},{"id":"c27fdb01565d6a52","type":"api-current-state","z":"cda4cbac66948c9c","name":"if on Charger","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.charger","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2230,"y":3360,"wires":[["99a6a050518511f2"],["a4c1018a84445955"]]},{"id":"0b61c2a8c22a33e3","type":"api-current-state","z":"cda4cbac66948c9c","name":"if on Charger","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.charger","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":3130,"y":860,"wires":[["dc7f9a8aeb089291"],["a4c1018a84445955"]]},{"id":"a0ef6c75e32deb2c","type":"time-range-switch","z":"cda4cbac66948c9c","name":"23.00-7.00 (F3)","lat":"38.9535828","lon":"16.2862934","startTime":"23:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":1520,"y":2800,"wires":[["47bab2611b0e19f5"],["0303df8730a369aa"]]},{"id":"522d6c27240d1dea","type":"time-range-switch","z":"cda4cbac66948c9c","name":"23.00-7.00 (F3)","lat":"38.9535828","lon":"16.2862934","startTime":"23:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":1500,"y":3340,"wires":[["237e4b1405584b41"],["ba261bad15918025"]]},{"id":"ba261bad15918025","type":"chronos-delay","z":"cda4cbac66948c9c","name":"","config":"7a02c35ff2a37b2b","delayType":"pointInTime","fixedDuration":"1","fixedDurationUnit":"seconds","randomDuration1":"1","randomDuration2":"5","randomDurationUnit":"seconds","randomizerMillis":false,"whenType":"time","whenValue":"23:00","offset":"0","random":false,"customDelayType":"jsonata","customDelayValue":"","preserveCtrlProps":false,"ignoreCtrlProps":false,"x":1670,"y":3400,"wires":[["237e4b1405584b41"]]},{"id":"c82979d36e9a63be","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":2320,"wires":[["67efcdcbaf6ec3f6"]]},{"id":"67efcdcbaf6ec3f6","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1290,"y":2320,"wires":[["25572b78936690ee"]]},{"id":"8db48e70e9949d4b","type":"function","z":"cda4cbac66948c9c","name":"Wp avaible","func":"var power1 = global.get('homeassistant.homeAssistant.states[\"sensor.input_power\"].state');\nvar power2 = global.get('homeassistant.homeAssistant.states[\"sensor.wallbox_em_channel_1_power\"].state');\nvar power3 = global.get('homeassistant.homeAssistant.states[\"sensor.active_power\"].state');\nvar power4 = global.get('homeassistant.homeAssistant.states[\"sensor.pv_to_grid_kwp\"].state');\n\nlet w1 = parseFloat(power1);\nlet w2 = parseFloat(power2);\nlet w3 = parseFloat(power3);\nlet w4 = parseFloat(power4);\n\nvar numval = (w1 - w3 + w4 + w2 - 300)/1000;\n\nmsg.payload = numval.toFixed(2);\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":1840,"wires":[["de7fa56054dfd93b"]]},{"id":"88f14990eb22ea04","type":"telegrambot-payload","z":"cda4cbac66948c9c","name":"","bot":"7ac1b2eced8b20a3","chatId":"57748018","sendMethod":"sendMessage","payload":"","x":170,"y":2080,"wires":[["5832eb8ef2648975"]]},{"id":"bad4bcaeadaaf612","type":"function","z":"cda4cbac66948c9c","name":"Build MSG","func":"msg.payload = { text: `La gestione della ricarica proseguir in modo manuale, hai a disposizione *${msg.payload}* kW di fotovoltaico.`, parse_mode: \"Markdown\" };\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":2000,"wires":[["88f14990eb22ea04"]]},{"id":"de7fa56054dfd93b","type":"ha-sensor","z":"cda4cbac66948c9c","name":"PV avaible for Tesla","entityConfig":"ede6040ad88b4bc3","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":170,"y":1940,"wires":[["bad4bcaeadaaf612"]]},{"id":"2667ab8b5f2c6224","type":"ha-button","z":"cda4cbac66948c9c","name":"Tesla CRG Select","version":0,"debugenabled":false,"outputs":1,"entityConfig":"adefc0b89f45fbde","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":120,"y":820,"wires":[["f287ab75f055e83e"]]},{"id":"a4c1018a84445955","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":1}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2220,"y":1440,"wires":[["989d54c14f880c99"]]},{"id":"103abf8267ef34dd","type":"api-call-service","z":"cda4cbac66948c9c","name":"Night crg 40%","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Procedo con ricarica nottura dalle ore 23.00 fino al 40% della batteria\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":200,"y":3480,"wires":[["37b47afdbe890f0a"]]},{"id":"37b47afdbe890f0a","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling on","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":410,"y":3420,"wires":[["0dfe3f31e670f392"]]},{"id":"71a6e718594c6e03","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta Potenza Manuale","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Scegli la potenza di ricarica in Watt:","answers":["2.0kW","2.5kW","3.0kW","3.5kW","4.0kW","5.0kW"],"outputs":6,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"","timeoutUnits":"","parseMode":"","x":670,"y":3580,"wires":[["f6b8d218809b3082"],["b2820621a7554674"],["60db85561347d44d"],["8f39b0c2f8365945"],["3beb1b4a78754cff"],["40f6cb612309d01d"]]},{"id":"f6b8d218809b3082","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":9}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3540,"wires":[["bdda3aa330306c32"]]},{"id":"b2820621a7554674","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":11}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3600,"wires":[["cc8fd5378087286a"]]},{"id":"60db85561347d44d","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":13}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3660,"wires":[["527d7c3f2936d722"]]},{"id":"3beb1b4a78754cff","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":17}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3780,"wires":[["dbf9a813cd324225"]]},{"id":"40f6cb612309d01d","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":22}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3840,"wires":[["0350455e9b6e67e2"]]},{"id":"0350455e9b6e67e2","type":"api-call-service","z":"cda4cbac66948c9c","name":"5,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 5,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3840,"wires":[["9c32095d49135a3a"]]},{"id":"dbf9a813cd324225","type":"api-call-service","z":"cda4cbac66948c9c","name":"4,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 4,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3780,"wires":[["9c32095d49135a3a"]]},{"id":"527d7c3f2936d722","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3660,"wires":[["9c32095d49135a3a"]]},{"id":"cc8fd5378087286a","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3600,"wires":[["9c32095d49135a3a"]]},{"id":"bdda3aa330306c32","type":"api-call-service","z":"cda4cbac66948c9c","name":"2,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 2,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3540,"wires":[["9c32095d49135a3a"]]},{"id":"8f39b0c2f8365945","type":"api-call-service","z":"cda4cbac66948c9c","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":15}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1020,"y":3720,"wires":[["0719117824a6c064"]]},{"id":"0719117824a6c064","type":"api-call-service","z":"cda4cbac66948c9c","name":"3,5kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 3,5kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1230,"y":3720,"wires":[["9c32095d49135a3a"]]},{"id":"5433296c12a33894","type":"api-current-state","z":"cda4cbac66948c9c","name":"if tesla batt lev >=40%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"40","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1900,"y":3740,"wires":[["46881fb84b85c884"],["2651e9727d8f8d6d"]]},{"id":"46881fb84b85c884","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1860,"y":3640,"wires":[["c8844abd91322f42"]]},{"id":"2952904a68297e6a","type":"delay","z":"cda4cbac66948c9c","name":"Delay 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1970,"y":3840,"wires":[["5433296c12a33894"]]},{"id":"c8844abd91322f42","type":"api-call-service","z":"cda4cbac66948c9c","name":"Pooling off","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2070,"y":3640,"wires":[["a4c1018a84445955"]]},{"id":"9c32095d49135a3a","type":"api-call-service","z":"cda4cbac66948c9c","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":3680,"wires":[["cb68f4cc7faf7bb2"]]},{"id":"2c3c21fe7ab36e40","type":"api-call-service","z":"cda4cbac66948c9c","name":"ON Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1660,"y":3740,"wires":[["5433296c12a33894"]]},{"id":"2651e9727d8f8d6d","type":"api-current-state","z":"cda4cbac66948c9c","name":"if on Charger","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.charger","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2230,"y":3840,"wires":[["2952904a68297e6a"],["a4c1018a84445955"]]},{"id":"cb68f4cc7faf7bb2","type":"time-range-switch","z":"cda4cbac66948c9c","name":"23.00-7.00 (F3)","lat":"38.9535828","lon":"16.2862934","startTime":"23:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":1500,"y":3820,"wires":[["2c3c21fe7ab36e40"],["889ad655862d9918"]]},{"id":"889ad655862d9918","type":"chronos-delay","z":"cda4cbac66948c9c","name":"","config":"7a02c35ff2a37b2b","delayType":"pointInTime","fixedDuration":"1","fixedDurationUnit":"seconds","randomDuration1":"1","randomDuration2":"5","randomDurationUnit":"seconds","randomizerMillis":false,"whenType":"time","whenValue":"23:00","offset":"0","random":false,"customDelayType":"jsonata","customDelayValue":"","preserveCtrlProps":false,"ignoreCtrlProps":false,"x":1670,"y":3880,"wires":[["2c3c21fe7ab36e40"]]},{"id":"64c5af0303f388d2","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Night crg 40%","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Procedo con ricarica nottura dalle ore 23.00 fino al 40% della batteria\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":160,"y":4380,"wires":[["872b9a09a72caa55"]]},{"id":"09bda801f6713c02","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Off DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":4340,"wires":[["3429294ae4af44a7"]]},{"id":"3429294ae4af44a7","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Set Amp Value Manual","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"number","service":"set_value","areaId":[],"deviceId":[],"entityId":["number.charging_amps"],"data":"{\"value\":16}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":4420,"wires":[["69302a2ebaae607e"]]},{"id":"69302a2ebaae607e","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"4,0kW","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione manuale della Ricarica con 4,0kW a Tesla\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":4260,"wires":[["58ad09a66a73b774"]]},{"id":"01393c7efc1f2be3","type":"api-current-state","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"if tesla batt lev >=40%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"40","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":720,"y":4500,"wires":[["1983204d4c08c67e"],["e1a5b547840c99e2"]]},{"id":"1983204d4c08c67e","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":840,"y":4440,"wires":[["3a509001102ff3b9"]]},{"id":"1a9e05cfb857a105","type":"delay","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Delay 10 min","pauseType":"delay","timeout":"10","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":710,"y":4600,"wires":[["01393c7efc1f2be3"]]},{"id":"3a509001102ff3b9","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Pooling off","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":4480,"wires":[["ee6a232807e031ba"]]},{"id":"58ad09a66a73b774","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Off Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":740,"y":4340,"wires":[["7f244f172b02c2f3"]]},{"id":"7584b7afc5be8260","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"ON Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":4540,"wires":[["01393c7efc1f2be3"]]},{"id":"e1a5b547840c99e2","type":"api-current-state","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"if on Charger","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.charger","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":4540,"wires":[["1a9e05cfb857a105"],[]]},{"id":"7f244f172b02c2f3","type":"time-range-switch","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"23.00-7.00 (F3)","lat":"38.9535828","lon":"16.2862934","startTime":"23:00","endTime":"7:00","startOffset":0,"endOffset":0,"x":460,"y":4660,"wires":[["7584b7afc5be8260"],["9aa653ba9ef8051f"]]},{"id":"9aa653ba9ef8051f","type":"chronos-delay","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"","config":"7a02c35ff2a37b2b","delayType":"pointInTime","fixedDuration":"1","fixedDurationUnit":"seconds","randomDuration1":"1","randomDuration2":"5","randomDurationUnit":"seconds","randomizerMillis":false,"whenType":"time","whenValue":"23:00","offset":"0","random":false,"customDelayType":"jsonata","customDelayValue":"","preserveCtrlProps":false,"ignoreCtrlProps":false,"x":470,"y":4720,"wires":[["7584b7afc5be8260"]]},{"id":"3e819fb7c36b480e","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Pooling on","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.polling"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":130,"y":4200,"wires":[["457529770af2caac"]]},{"id":"872b9a09a72caa55","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Alexa Confirm","server":"1c37c350.3f926d","version":5,"debugenabled":true,"domain":"notify","service":"alexa_media_echo_dot","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Alle 23 in punto, Caricher la Tesla fino al 40% alla potenza di 4 chilovatt e poi spegner tutto\",\"data\":{\"type\":\"announce\"}}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":220,"y":4280,"wires":[["09bda801f6713c02"]]},{"id":"60a50c1ab57bc448","type":"trigger-state","z":"cda4cbac66948c9c","g":"94e7aba2ea124d38","name":"Tesla Charge ON 40%","server":"1c37c350.3f926d","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"switch.carica_auto_tesla_al_40","entityIdType":"exact","debugEnabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":4000,"wires":[["3e819fb7c36b480e"],[]]},{"id":"ee6a232807e031ba","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"charge 40% off","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":["65784c262f779e8e8d485c46ebea3dcc"],"entityId":["switch.carica_auto_tesla_al_40"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":4360,"wires":[[]]},{"id":"457529770af2caac","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Wake UP TESLA","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":[],"deviceId":[],"entityId":["button.force_data_update"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":210,"y":4140,"wires":[["a5fe36f0231a01a8"]]},{"id":"a5fe36f0231a01a8","type":"delay","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":4140,"wires":[["48a9e765b5716da3"]]},{"id":"6deab21678063c19","type":"delay","z":"cda4cbac66948c9c","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":380,"y":660,"wires":[["b414cb82e96dfc2d"]]},{"id":"f287ab75f055e83e","type":"api-call-service","z":"cda4cbac66948c9c","name":"Wake UP TESLA","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"button","service":"press","areaId":[],"deviceId":[],"entityId":["button.force_data_update"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":170,"y":680,"wires":[["6deab21678063c19"]]},{"id":"cfa252c0cea55c5e","type":"inject","z":"cda4cbac66948c9c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":400,"y":3660,"wires":[["71a6e718594c6e03"]]},{"id":"7e7720d234c385a4","type":"ha-switch","z":"cda4cbac66948c9c","g":"94e7aba2ea124d38","name":"Carica Auto Tesla al 40%","version":0,"debugenabled":false,"inputs":0,"outputs":2,"entityConfig":"535a8f1306e9d9dd","enableInput":false,"outputOnStateChange":false,"outputProperties":[{"property":"outputType","propertyType":"msg","value":"state change","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":170,"y":4060,"wires":[[],[]]},{"id":"3c2de04705e6f0b0","type":"api-current-state","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Tesla Batt State","server":"1c37c350.3f926d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":4020,"wires":[["128918ee85d1f071"]]},{"id":"128918ee85d1f071","type":"function","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"send temp","func":"msg.payload = { data: {'message': \n\"La batteria della Tesla  al \" + msg.payload + \"percento e quindi non  necessario caricarla\"} };\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":4000,"wires":[["126f46ab07797e9c"]]},{"id":"126f46ab07797e9c","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Alexa Tesla","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_echo_dot","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":4060,"wires":[["3b003df92289f15b"]]},{"id":"48a9e765b5716da3","type":"api-current-state","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Tesla Batt State >40%","server":"1c37c350.3f926d","version":3,"outputs":2,"halt_if":"40","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":440,"y":4020,"wires":[["3c2de04705e6f0b0"],["920e43aa51edcabe"]]},{"id":"920e43aa51edcabe","type":"api-current-state","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Tesla Batt State","server":"1c37c350.3f926d","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.battery","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":660,"y":4080,"wires":[["f09579c4f193d94a"]]},{"id":"f09579c4f193d94a","type":"function","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"send temp","func":"msg.payload = { data: {'message': \n\"La batteria della Tesla  al \" + msg.payload + \"percento procedo con la ricarica\"} };\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":870,"y":4120,"wires":[["90b44524ca9b277c"]]},{"id":"90b44524ca9b277c","type":"api-call-service","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Alexa Tesla","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"notify","service":"alexa_media_echo_dot","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":4180,"wires":[["64c5af0303f388d2"]]},{"id":"3b003df92289f15b","type":"delay","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1100,"y":4160,"wires":[["a5b226a4c4c15484"]]},{"id":"a5b226a4c4c15484","type":"change","z":"cda4cbac66948c9c","g":"982e7154409c892f","name":"Set Payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"none","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":4280,"wires":[["ee6a232807e031ba"]]},{"id":"5709dbb990e1b201","type":"function","z":"cda4cbac66948c9c","name":"Wp avaible PV DLM","func":"var power1 = global.get('homeassistant.homeAssistant.states[\"sensor.input_power\"].state');\nvar power2 = global.get('homeassistant.homeAssistant.states[\"sensor.wallbox_em_channel_1_power\"].state');\nvar power3 = global.get('homeassistant.homeAssistant.states[\"sensor.active_power\"].state');\nvar power4 = global.get('homeassistant.homeAssistant.states[\"sensor.pv_to_grid_kwp\"].state');\n\nlet w1 = parseFloat(power1);\nlet w2 = parseFloat(power2);\nlet w3 = parseFloat(power3);\nlet w4 = parseFloat(power4);\n\nvar numval = (w1 - w3 + w4 + w2 - 300)/1000;\n\nmsg.payload = numval.toFixed(2);\n\nif (msg.payload < 0) {\n    msg.payload = 0\n} else {\n    msg.payload = msg.payload;\n}\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":560,"wires":[["d44454cd1c3c1d48"]]},{"id":"d44454cd1c3c1d48","type":"ha-sensor","z":"cda4cbac66948c9c","name":"Wp Avail PV DLM","entityConfig":"4b4ba0a69dd9e046","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":620,"wires":[[]]},{"id":"b414cb82e96dfc2d","type":"api-call-service","z":"cda4cbac66948c9c","name":"On Crg Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.charger"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":380,"y":760,"wires":[["d4fa434ed53dfa64"]]},{"id":"5832eb8ef2648975","type":"api-call-service","z":"cda4cbac66948c9c","name":"On DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":2080,"wires":[["5612cd1c4275297a"]]},{"id":"dbad93840d34076a","type":"api-call-service","z":"cda4cbac66948c9c","name":"On DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":520,"y":2540,"wires":[["3fa55218d66db582"]]},{"id":"a03ab5f91bc1dff5","type":"api-call-service","z":"cda4cbac66948c9c","name":"On DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":400,"y":3100,"wires":[["cc2a44bb2b604195"]]},{"id":"0dfe3f31e670f392","type":"api-call-service","z":"cda4cbac66948c9c","name":"On DLM Switch","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pv_dlm_button"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":440,"y":3520,"wires":[["71a6e718594c6e03"]]},{"id":"cb73ca59b3a076aa","type":"telegrambot-switch","z":"cda4cbac66948c9c","name":"Scelta DLM","bot":"7ac1b2eced8b20a3","chatId":"57748018","question":"Vuoi Attivare il controllo dinamico della ricarica","answers":["SI","NO"],"outputs":3,"autoAnswerCallback":true,"verticalAnswers":true,"timeoutValue":"2","timeoutUnits":"min","parseMode":"","x":190,"y":140,"wires":[["f754f8245c208caa"],["f5dd44ad0b7889a0"],["f754f8245c208caa"]]},{"id":"f754f8245c208caa","type":"api-call-service","z":"cda4cbac66948c9c","name":"Auto","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok avvio la gestione dinamica della Ricarica\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":350,"y":140,"wires":[["80d4a0b715a3eb9f"]]},{"id":"f5dd44ad0b7889a0","type":"api-call-service","z":"cda4cbac66948c9c","name":"Manual","server":"1c37c350.3f926d","version":5,"debugenabled":false,"domain":"telegram_bot","service":"send_message","areaId":[],"deviceId":[],"entityId":[],"data":"{\"message\":\"Ok la ricarica proseguir in modo manuale\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":100,"y":200,"wires":[[]]},{"id":"0133b4fe03eaeed6","type":"cronplus","z":"cda4cbac66948c9c","name":"On Sunset","outputField":"payload","timeZone":"","storeName":"","commandResponseMsgOutput":"output1","defaultLocation":"","defaultLocationType":"default","outputs":1,"options":[{"name":"schedule1","topic":"topic1","payloadType":"default","payload":"","expressionType":"solar","expression":"0 * * * * * *","location":"38.95349692898102 16.28588925115764","offset":"7","solarType":"selected","solarEvents":"sunset"}],"x":110,"y":420,"wires":[["5709dbb990e1b201"]]},{"id":"7ac1b2eced8b20a3","type":"telegrambot-config","botname":"Casa Lamezia - Home Assistant","usernames":"","chatIds":"57748018","pollInterval":"300"},{"id":"1c37c350.3f926d","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"id","deviceSelector":"id","entitySelector":"id","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"ede6040ad88b4bc3","type":"ha-entity-config","server":"1c37c350.3f926d","deviceConfig":"a08c40dd19ee2726","name":"pv 4 tesla","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"pv 4 tesla 50 x 100"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"cb70dfadf1e489ef","type":"ha-entity-config","server":"1c37c350.3f926d","deviceConfig":"7056cf38dd6379d5","name":"PV for Tesla 50 x 100","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"PV for Tesla 50 x 100"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"W"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"7a02c35ff2a37b2b","type":"chronos-config","name":"Casa","timezone":"","sunPositions":[]},{"id":"adefc0b89f45fbde","type":"ha-entity-config","server":"1c37c350.3f926d","deviceConfig":"dcc8beacb5a96143","name":"Tesla Charging Type Select","version":"6","entityType":"button","haConfig":[{"property":"name","value":"Tesla Charging Type Select"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""}],"resend":false,"debugEnabled":false},{"id":"535a8f1306e9d9dd","type":"ha-entity-config","server":"1c37c350.3f926d","deviceConfig":"87f001cdd86e4cea","name":"Carica Auto Tesla al 40%","version":"6","entityType":"switch","haConfig":[{"property":"name","value":"Carica Auto Tesla al 40%"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"switch"}],"resend":false,"debugEnabled":false},{"id":"4b4ba0a69dd9e046","type":"ha-entity-config","server":"1c37c350.3f926d","deviceConfig":"4fe92b5fb4e91c4e","name":"Wp Avail PV DLM","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Wp Avail PV DLM"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"kW"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"a08c40dd19ee2726","type":"ha-device-config","name":"pv 4 tesla","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"7056cf38dd6379d5","type":"ha-device-config","name":"PV for Tesla 50 x 100","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"dcc8beacb5a96143","type":"ha-device-config","name":"Tesla Charging Type Select","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"87f001cdd86e4cea","type":"ha-device-config","name":"Carica Auto Tesla al 40%","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"4fe92b5fb4e91c4e","type":"ha-device-config","name":"Wp Avail PV DLM","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""}]